/* promo блок*/
/* header block */
/* Блок с разработками*/
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('../fonts/opensansbold.woff2') format('woff2'), url('../fonts/opensansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: 'fjallaone';
  src: local('fjallaone'), url('../fonts/fjallaone-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 320px) {
  .production {
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .production--hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  .production .production__full-docs-item:not(:first-of-type) {
    margin-top: 15px;
  }
  .production__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 10px;
    margin: 0 10px 10px;
    box-shadow: 0 0 8px #e6e6e6;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .production__item:hover {
    box-shadow: 0 0 8px black;
  }
  .production__picture {
    text-align: center;
    margin-top: 20px;
  }
  .production__picture img {
    max-width: 100%;
    height: auto;
  }
  .production__thumb-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
  }
  .production__thumb-item {
    width: 30%;
    /*width: 40%;
    margin: 5px 5%;*/
  }
  .production__thumb-item img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }
  .production__thumb-picture:hover img {
    box-shadow: 0 0 5px black;
  }
  .production__description {
    width: 100%;
    font-size: 0.8em;
  }
  .production__title {
    text-align: center;
    color: #27338d;
  }
  .production__title:hover a {
    background: linear-gradient(currentColor, currentColor) no-repeat;
    background-size: 100% 1px;
    background-position: 0 1.15em;
    text-shadow: 0.12em 0 white, -0.12em 0 white;
  }
  .production__title-no-shadow:hover a {
    text-shadow: none;
  }
  .production__features {
    position: relative;
    font-style: italic;
    margin-bottom: 1em;
  }
  .main__promo .production__features::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    right: 0;
    height: 3.5em;
    background: linear-gradient(to top, #e6e6e6, transparent) no-repeat;
  }
  .production__download {
    position: relative;
  }
  .production__download svg {
    position: absolute;
    top: -2px;
    left: 0;
    width: 20px;
    height: 20px;
    stroke: red;
  }
  .production__download:hover svg {
    stroke: blue;
  }
  .production__price {
    margin-top: 10px;
    text-align: right;
  }
  .production__price-content {
    position: relative;
    display: inline;
    background-color: #e7e7f5;
    font-weight: normal;
    line-height: 18px;
    color: black;
    padding: 3px 20px 3px 8px;
    border-radius: 5px;
  }
  .production__price-content svg {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 8px;
    top: 6px;
    fill: #7d7676;
  }
  .production__manual {
    padding-left: 25px;
    color: blue;
  }
  .production__options {
    padding-top: 10px;
  }
  .production__options-title {
    display: block;
    padding-left: 15px;
    position: relative;
    cursor: pointer;
    color: blue;
  }
  .production__full-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    border: 1px dotted #b7b7b7;
    border-radius: 5px;
    margin: 10px;
  }
  .production__full-galery {
    text-align: center;
    padding: 10px;
  }
  .production__full-description {
    padding: 10px;
  }
  .production__full-docs-block {
    margin-bottom: 10px;
  }
  .production__full-docs-title {
    margin: 0;
    padding: 15px 0;
    text-align: center;
    font-size: 13px;
    color: black;
    background-color: #f5f5f5;
  }
  .production__full-docs-items {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 13px;
  }
  .production__features-items-title {
    color: #27338d;
    font-weight: bold;
  }
  .production__features-items {
    margin-bottom: 20px;
  }
  .production__options-items-title {
    color: #27338d;
    font-weight: bold;
  }
  .production__options-items {
    margin-bottom: 15px;
  }
  .production__full-docs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .production__full-price-block {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    border-radius: 0 0 5px 5px;
  }
  .production__full-price-title {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: black;
  }
  .production__full-price-content {
    position: relative;
    display: inline-block;
    font-weight: bold;
    line-height: 18px;
    color: #27338d;
    padding: 3px 20px 3px 8px;
  }
  .production__full-price-content svg {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 4px;
    top: 6px;
    fill: #27338d;
    stroke: red;
  }
  .production__link {
    color: blue;
  }
}
@media (min-width: 480px) {
  .production {
    -ms-flex-align: center;
        align-items: center;
  }
  .production__item {
    -ms-flex-direction: row;
        flex-direction: row;
    width: 65%;
  }
}
@media (min-width: 800px) {
  .production__item {
    -ms-flex-direction: row;
        flex-direction: row;
    width: 40%;
  }
  .production {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: stretch;
        align-items: stretch;
  }
  .production__picture {
    width: 40%;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .production__description {
    width: 55%;
  }
  .production__full-item {
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .production__full-galery {
    width: 25%;
  }
  .production__full-description {
    width: 60%;
  }
  .production__full-docs {
    width: 15%;
  }
  .production__full-docs-block {
    border-radius: 0 5px 0 0;
    overflow: hidden;
  }
  .production__full-price-block {
    border-radius: 0 0 5px 0;
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .production__item {
    width: 30%;
  }
}
header {
  padding-top: 10px;
  margin: 0;
}
header picture {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  margin: 0;
}
header .header__title {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  margin-left: 3%;
  margin-top: 0;
  font-size: 0.9em;
  line-height: 1.3em;
  font-weight: bold;
}
@media (min-width: 320px) {
  .header {
    background-color: #e6e6e6;
  }
  .header__title {
    display: block;
    width: 320px;
    margin: 10px auto;
    text-align: center;
  }
}
@media (min-width: 800px) {
  .header {
    border-bottom: 1px solid #b7b7b7;
  }
  .header__title {
    display: inline-block;
    margin-left: 20px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .header__title {
    margin-left: 50px;
  }
}
.footer {
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 320px) {
  .footer__logos-items {
    display: none;
  }
}
@media (min-width: 800px) {
  .footer__logos-items {
    display: block;
    margin-top: 1em;
  }
  .footer__logos-item {
    margin-right: 2em;
  }
  .footer__logos-item:last-of-type {
    margin-right: 0;
  }
}
@media (min-width: 320px) {
  .main__promo {
    display: none;
  }
  .main__about {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 1.5rem;
  }
  .main__about-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px #aaa;
  }
  .main__about-description {
    text-indent: 2rem;
  }
  .main__about-description:not(:first-of-type) {
    margin-top: 2rem;
  }
  .main__about-items {
    margin-top: 0.6rem;
  }
  .main__about-item {
    position: relative;
    padding-left: 25px;
    text-indent: 0;
  }
  .main__about-item:not(:first-of-type) {
    margin-top: 0.6rem;
  }
  .main__about-item::before {
    position: absolute;
    content: "\2713";
    left: 0;
    color: blue;
    /*width: 20px;
    height: 17px;

    top: calc(50% - 9px);
    left: 0;

    background: url("../img/sprites.png") no-repeat;
    background-position: -48px -1px;*/
  }
}
@media (min-width: 800px) {
  .main__sections {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    margin-top: 2em;
  }
  .main__promo {
    width: 35%;
    max-width: 400px;
    display: block;
    background-color: #e6e6e6;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);
  }
  .main__promo .production__item {
    width: 90%;
    border: none;
    box-shadow: none;
    outline: none;
    margin: 0 auto;
  }
  .main__promo .production__item:not(:last-of-type) {
    border-bottom: 1px solid #b7b7b7;
    border-radius: 0;
  }
  .main__promo .production__item:not(:first-of-type) {
    border-top: 1px solid white;
    border-radius: 0;
  }
  .main__about {
    width: 65%;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0;
    margin-right: 0;
  }
  .main__about-title {
    text-align: center;
    margin-top: 0.5em;
  }
}
@media (min-width: 320px) {
  .nav {
    margin-top: 15px;
  }
  .nav__item {
    display: block;
    font-size: 1.1em;
  }
  .nav__item a {
    display: block;
    padding: 15px;
    border-top: 1px solid white;
    border-bottom: 1px solid #b7b7b7;
  }
  .nav__items {
    border-top: 1px solid #b7b7b7;
  }
}
@media (min-width: 800px) {
  .nav {
    float: right;
    margin-top: 0;
  }
  .nav__item {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin-right: 70px;
    font-size: 1.3em;
  }
  .nav__item a {
    border-top: none;
    border-bottom: none;
  }
  .nav__item a:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  .nav__item--active a {
    position: relative;
    color: rgba(0, 0, 0, 0.6);
  }
  .nav__items {
    border-top: none;
  }
}
@media (min-width: 800px) {
  /*.nav__item {
    padding: 0;
  }
  .nav__item a {
    padding: 10px 10px 8px 10px;
  }*/
  .nav__item {
    position: relative;
  }
  .nav__item a {
    padding-bottom: 8px;
  }
  .nav__item--active a::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 50%;
    margin-left: -12px;
    width: 16px;
    height: 16px;
    background-color: #e6e6e6;
    border-right: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
html,
body {
  /*background-color: rgba(125,125,125,0.7);
  outline: 1px solid black;*/
  height: 100%;
}
body {
  overflow-y: scroll;
  font-family: 'Open Sans', 'sans-serif', Arial;
}
.wrap-height-block {
  min-height: 100%;
}
.empty-height-container {
  height: 230px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
.wrapper {
  width: 70%;
  margin: 0 auto;
}
.contacts {
  width: 180px;
  float: right;
  margin-top: 15px;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}
ul,
p {
  padding: 0;
  margin: 0;
}
.stac {
  display: block;
}
.mobile {
  display: none;
}
header .phone,
header .email {
  position: relative;
  padding-left: 35px;
}
header .phone {
  margin-bottom: 10px;
}
header .phone:before,
header .email:before {
  background: url('../img/sprites.png') no-repeat;
}
header .phone:before {
  position: absolute;
  content: '';
  top: 1px;
  left: 3px;
  width: 19px;
  height: 19px;
  background-position: 0 0;
}
header .email:before {
  position: absolute;
  content: '';
  top: 1px;
  left: 0;
  width: 24px;
  height: 17px;
  background-position: -21px -1px;
}
/************************** services ************************************************/
.services-main {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.services-main h2 {
  position: relative;
  font-size: 1.1em;
}
.services-main h2:hover {
  cursor: pointer;
  /*text-decoration: underline;
	text-decoration-color: rgba(9,68,123,0.6);*/
  color: rgba(0, 0, 0, 0.7);
}
.services-main h2:before,
.services-main h2:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 4px;
  top: 50%;
  left: 0;
  background-color: blue;
}
.services-main h2:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.services-main h2:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 8px;
}
@-webkit-keyframes close-animation-triangle {
  from {
    background-color: blue;
  }
  to {
    background-color: dodgerblue;
  }
}
@keyframes close-animation-triangle {
  from {
    background-color: blue;
  }
  to {
    background-color: dodgerblue;
  }
}
@-webkit-keyframes close-animation-font {
  from {
    color: #000000;
  }
  to {
    color: rgba(0, 0, 0, 0.6);
  }
}
@keyframes close-animation-font {
  from {
    color: #000000;
  }
  to {
    color: rgba(0, 0, 0, 0.6);
  }
}
.services-main h2.close {
  -webkit-animation: close-animation-font 1s forwards;
  -ms-animation: close-animation-font 1s forwards;
  animation: close-animation-font 1s forwards;
}
.services-main h2.close:before,
.services-main h2.close:after {
  -webkit-animation: close-animation-triangle 1s forwards;
  -ms-animation: close-animation-triangle 1s forwards;
  animation: close-animation-triangle 1s forwards;
}
.services-main h2.close:before,
.services-main h2.close:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 4px;
  top: 50%;
  left: 0;
}
.services-main h2.close:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.services-main h2.close:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.services-main .brief,
.services-main .full {
  padding-left: 35px;
  padding-right: 35px;
}
.services-main .full {
  line-height: 1.7em;
}
.service {
  padding: 5px 0 5px 30px;
  margin-bottom: 10px;
  background-color: #e6e6e6;
  border-radius: 10px;
}
.service__link {
  text-decoration: underline;
  color: blue;
}
/*************** index *************************/
.catalog-main ul li {
  list-style: none;
}
.catalog-main ul label {
  /* label */
  display: block;
  padding: 10px;
  background-color: #e6e6e6;
  cursor: pointer;
  border-bottom: 1px solid #d3d3d3;
  transition: background-color 300ms;
}
.catalog-main ul li:last-child label {
  border-bottom: none;
}
.catalog-main input[type="radio"] {
  display: none;
}
#all-catalog:checked ~ .nav-catalog-block label[for="all-catalog"],
#equipment:checked ~ .nav-catalog-block label[for="equipment"],
#software:checked ~ .nav-catalog-block label[for="software"] {
  position: relative;
  background-color: dodgerblue;
  color: white;
  cursor: default;
}
#all-catalog:checked ~ .nav-catalog-block label[for="all-catalog"]:after,
#equipment:checked ~ .nav-catalog-block label[for="equipment"]:after,
#software:checked ~ .nav-catalog-block label[for="software"]:after {
  position: absolute;
  content: '';
  cursor: default;
  right: -14px;
  top: 6px;
  width: 29px;
  height: 29px;
  background-color: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.production-block .production-group {
  display: none;
}
#all-catalog:checked ~ .production-block .production-group:nth-child(1) {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#equipment:checked ~ .production-block .production-group:nth-child(2) {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#software:checked ~ .production-block .production-group:nth-child(3) {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.nav-catalog-block {
  width: 180px;
  margin-top: 50px;
  float: left;
}
/****************************** contacts ************************************/
.contacts-main {
  margin-top: 20px;
  margin-bottom: 40px;
}
.feedback-form {
  float: left;
  width: 40%;
  padding-right: 50px;
  box-sizing: border-box;
}
.feedback-form form {
  width: 250px;
  margin: 0 auto;
}
.feedback-form textarea {
  resize: none;
}
.feedback-form label {
  display: block;
}
.feedback-form input[type="text"],
.feedback-form textarea {
  margin-bottom: 10px;
  display: block;
}
.feedback-form .send-email {
  padding: 5px 10px 5px 10px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.feedback-form .request-send-success {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
  color: green;
}
.feedback-form .request-send-error {
  font-size: 12px;
  text-align: center;
  color: red;
}
.map {
  float: right;
  width: 60%;
  max-height: 500px;
  padding: 0 10px;
  box-sizing: border-box;
}
#yandex-map {
  height: 400px;
}
.show-map {
  display: none;
}
.map-title,
.write-us,
.show-map {
  width: 200px;
  padding: 10px 5px 10px 5px;
  text-align: center;
  margin: 10px auto;
  background-color: #e6e6e6;
  border-radius: 20px;
  color: black;
  font-size: 18px;
  font-weight: normal;
}
.show-map {
  background-color: cornflowerblue;
}
.feedback-form label.error {
  font-size: 0.8em;
  color: #F00;
  font-weight: bold;
  display: block;
  margin-top: -10px;
}
.feedback-form input.error,
.feedback-form textarea.error {
  background: #FFA9B8;
  border: 1px solid red;
}
.button-back {
  display: block;
  width: 70px;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  background-color: cornflowerblue;
  border-radius: 10px;
}
.feedback-items {
  padding-left: 10px;
}
.feedback-item {
  line-height: 1.4em;
  margin-bottom: 0.5em;
}
/**************************** end contacts ************************************/
/**************************** footer ******************************************/
.flex-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
}
.footer {
  margin-top: -124px;
  text-align: center;
  background-color: #e6e6e6;
}
.company-address {
  position: relative;
  padding: 20px 0 20px 35px;
}
.company-address:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  left: 0;
  background: url('../img/address.svg') no-repeat;
  background-size: 15px 30px;
}
.company-phone {
  position: relative;
  padding: 20px 0 20px 35px;
}
.company-phone:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  left: 0;
  background: url('../img/phone.svg') no-repeat;
  background-size: 15px 30px;
}
.years {
  width: 130px;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 20px;
}
.company-web {
  position: relative;
  padding: 20px 0 20px 40px;
}
.company-web:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  left: 0;
  background: url('../img/web.svg') no-repeat;
  background-size: 30px 30px;
}
/***************************** end footer *************************************/
@media (max-width: 399px) {
  .wrapper {
    width: 100%;
  }
  .mobile {
    display: block;
  }
  .stac {
    display: none;
  }
  header picture {
    display: none;
  }
  header .header__title {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .contacts {
    float: none;
    margin: 0 auto;
  }
  nav {
    width: auto;
    text-align: center;
    float: none;
  }
  /*nav ul li {
		margin: 0;
		margin-bottom: 10px;
	}
	nav ul li:last-of-type {
		margin-bottom: 0;
	}*/
  .production {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .map {
    display: none;
  }
  .show-map {
    display: block;
  }
  .feedback-form {
    float: none;
    width: 100%;
    padding-right: 0;
  }
  .logo-footer {
    display: none;
  }
  .company-address,
  .company-phone,
  .company-web {
    margin-top: 0;
  }
  #yandex-map {
    border: 1px dashed black;
  }
  .loading-map-message {
    -webkit-animation: blinktitle 500ms;
    animation: blinktitle 500ms;
  }
  @-webkit-keyframes blinktitle {
    from {
      color: green;
    }
    to {
      color: darkblue;
    }
  }
  @keyframes blinktitle {
    from {
      color: green;
    }
    to {
      color: darkblue;
    }
  }
}
@media (min-width: 400px) and (max-width: 799px) {
  .wrapper {
    width: 100%;
  }
  header picture {
    width: auto;
    display: block;
    text-align: center;
  }
  header .header__title {
    width: 90%;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .contacts {
    float: none;
    margin: 0 auto;
  }
  nav {
    width: auto;
    text-align: center;
    float: none;
  }
  /*nav ul li {
		margin: 0 10px;
		margin-bottom: 15px;
	}

	nav ul li::last-of-type {
		margin-bottom: 0;
	}*/
  .active a::after {
    bottom: -24px;
  }
  .nav-catalog-block,
  .production-block {
    float: none;
    margin: 40px auto;
  }
  .map {
    float: none;
    width: 100%;
  }
  #yandex-map {
    margin: 0 90px;
    border: 1px dashed black;
  }
  .loading-map-message {
    margin: 0 90px;
  }
  .feedback-form {
    float: none;
    width: 100%;
    padding-right: 0;
  }
  .logo-footer {
    display: none;
  }
  .company-address,
  .company-phone,
  .company-web {
    margin-top: 0;
  }
  .feedback-items {
    max-width: 380px;
    margin: 0 auto;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .wrapper {
    width: 95%;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    width: 96%;
  }
  .contacts {
    margin-right: 50px;
  }
  .feedback-items {
    max-width: 380px;
    margin: 0 auto;
  }
}
.breadcrumbs {
  padding-left: 10px;
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.breadcrumbs__item--home svg {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: blue;
}
.breadcrumbs__item--home svg:hover {
  fill: red;
}
.breadcrumbs__item {
  display: inline-block;
}
.breadcrumbs__item:not(:last-of-type)::after {
  content: '\2192';
  vertical-align: middle;
  margin-left: 7px;
  margin-right: 7px;
  padding-bottom: 7px;
  font-size: 0.7rem;
}
.breadcrumbs__item:not(:last-of-type) .breadcrumbs__item-link {
  color: blue;
}
.breadcrumbs__item:hover:not(:first-of-type) .breadcrumbs__item-link {
  text-decoration: underline;
  color: red;
}
.breadcrumbs__item:last-of-type .breadcrumbs__item-link {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs__item:hover:last-of-type .breadcrumbs__item-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
.bases__table {
  border-collapse: collapse;
}
.bases__title {
  padding-left: 15px;
  font-size: 16px;
  font-weight: normal;
}
.bases__table-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
.bases__table-item {
  padding: 10px 15px;
  background: #f6f6f6;
}
.bases__table-item--link {
  position: relative;
  color: blue;
}
.bases__table-item--link svg {
  position: absolute;
  width: 20px;
  height: 20px;
  fill: #454;
}
.bases__table-item--link:hover svg {
  fill: red;
}
.bases__table-link-text {
  padding-left: 25px;
}
@media (min-width: 320px) {
  .slider__wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
  .slider__wrapper--big {
    display: none;
  }
  .slider__wrapper--big .slider {
    cursor: pointer;
  }
  .slider {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: url(../img/zoom_in.png), url(../img/zoom_in.cur), auto;
  }
  .slider--hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  .slider__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s;
  }
  @-webkit-keyframes movingOldSlide {
    from {
      opacity: 1;
      left: 0;
    }
    to {
      opacity: 0;
      left: -100%;
    }
  }
  @keyframes movingOldSlide {
    from {
      opacity: 1;
      left: 0;
    }
    to {
      opacity: 0;
      left: -100%;
    }
  }
  @-webkit-keyframes movingNewSlide {
    from {
      opacity: 0;
      left: 100%;
    }
    to {
      opacity: 1;
      left: 0;
    }
  }
  @keyframes movingNewSlide {
    from {
      opacity: 0;
      left: 100%;
    }
    to {
      opacity: 1;
      left: 0;
    }
  }
  .slider__item--active {
    opacity: 1;
    z-index: 2;
  }
  .slider__item img {
    width: 100%;
  }
  .slider__btn {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    width: 34px;
    height: 34px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border: 0;
    z-index: 2;
    cursor: pointer;
  }
  .slider__btn:hover {
    background-color: rgba(0, 0, 255, 0.1);
  }
  .slider__btn--prev.slider__btn {
    left: 3%;
  }
  .slider__btn--next.slider__btn {
    right: 3%;
  }
  .slider__btn--prev,
  .slider__btn--next {
    /*&:hover::before,
    &:hover::after {
      background-color: @menu-desktop-color; // при наведении на стрелки делаем их таким же цветом, как при наведении на пункты меню
    } */
  }
  .slider__btn--prev::before,
  .slider__btn--next::before,
  .slider__btn--prev::after,
  .slider__btn--next::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 14px;
    margin-top: -2px;
    background-color: #27338d;
    z-index: 2;
  }
  .slider__btn--prev::before,
  .slider__btn--next::before {
    margin-top: 4px;
  }
  .slider__btn--prev::after,
  .slider__btn--next::after {
    margin-top: -5px;
  }
  .slider__btn--prev::before,
  .slider__btn--prev::after {
    left: 10px;
  }
  .slider__btn--prev::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .slider__btn--prev::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .slider__btn--next::before,
  .slider__btn--next::after {
    right: 10px;
  }
  .slider__btn--next::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .slider__btn--next::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .slider__control-items {
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
    z-index: 2;
  }
  .slider__control-item {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 1px;
    border-radius: 50%;
    transition: background-color 0.3s;
    background-color: #27338d;
    border: 1px solid #27338d;
  }
  .slider__control--active {
    background-color: transparent;
  }
}
@media (min-width: 800px) {
  .slider__wrapper {
    width: 25%;
  }
  .slider__wrapper--big {
    position: fixed;
    display: block;
    width: auto;
    top: 12%;
    left: 25%;
    right: 25%;
    z-index: 50;
    background-color: white;
  }
  .slider__wrapper--big .slider {
    margin-top: 0;
    margin-bottom: 0;
  }
  .slider__btn--close {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: transparent;
  }
  .slider__btn--close,
  .slider__btn--close:active,
  .slider__btn--close:focus {
    outline: 0;
    border: 0;
  }
  .slider__btn--close::before,
  .slider__btn--close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 25px;
    height: 4px;
    background-color: white;
  }
  .slider__btn--close::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .slider__btn--close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .slider__btn--close:hover::before,
  .slider__btn--close:hover::after {
    opacity: 1;
  }
}
@media (min-width: 800px) {
  .overlay {
    position: relative;
  }
  .overlay:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 4;
    -webkit-animation: overlay 0.5s ease-in-out forwards;
            animation: overlay 0.5s ease-in-out forwards;
  }
}
@-webkit-keyframes overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
@keyframes overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
