@media @mobiles {
  .main__promo {
    display: none;
  }
  .main__about {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 1.5rem;
  }
  .main__about-title {
    text-align: center;
    font-size: 2rem;
  }
  .main__about-description {
    text-indent: 2rem;
  }
  .main__about-description:not(:first-of-type) {
    margin-top: 2rem;
  }
  .main__about-items {
    margin-top: 0.6rem;
  }
  .main__about-item {
    position: relative;
    padding-left: 25px;
    text-indent: 0;
  }
  .main__about-item:not(:first-of-type) {
    margin-top: 0.6rem;
  }
  .main__about-item::before {
    position: absolute;
    content: "\2713";

    left: 0;
    color: blue;
    /*width: 20px;
    height: 17px;

    top: calc(50% - 9px);
    left: 0;

    background: url("../img/sprites.png") no-repeat;
    background-position: -48px -1px;*/
  }
}

@media @tablets {
  .main__sections {
    display: flex;
    flex-direction: row;

    margin-top: 2em;
  }
  .main__promo {
    width: 35%;

    display: block;
    //border: 1px solid black;
    background: rgba(0,0,0,0.05);
    //clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);
  }
  .main__promo .production__item {
    width: 90%;
    border: none;
    box-shadow: none;
    outline: none;
  }
  .main__promo .production__item:not(:last-of-type) {
    border-bottom: 2px solid @pages-bg-color;
  }

  .main__about {
    width: 65%;

    padding-left: 1em;
    padding-right: 1em;

    margin-left: 0;
    margin-right: 0;
    //border: 1px solid black;
  }
  .main__about-title {
    text-align: center;
    margin-top: 0.5em;
  }
}

@media @desktops {
  .main__promo {

  }
  .main__about {

  }
}
