@media @mobiles {
  .production {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .production__item {
    display: flex;
    flex-direction: column;

  	padding: 10px;
  	margin: 0 10px 10px;

  	box-shadow: 0 0 8px #e6e6e6;
    border: 1px solid #e6e6e6;

    box-sizing: border-box;
    border-radius: 10px;

    &:hover {
      box-shadow: 0 0 8px black;
    }
  }
  .production__picture {
    margin: 10px;

    text-align: center;

    & img {
      max-width: 100%;
      height: auto;
    }
  }
  .production__description {
    width: 100%;

  	font-size: 0.8em;
  }
  .production__title {
    text-align: center;
    color: #27338d;

    &:hover a {
      background: linear-gradient(currentColor, currentColor) no-repeat;
      background-size: 100% 1px;
      background-position: 0 1.15em;
      text-shadow: .12em 0 white, -.12em 0 white;
    }
  }
  .production__features {
    position: relative;

    font-style: italic;
    margin-bottom: 1em;

    .main__promo &::after {
      position: absolute;
      content: '';

      left: 0;
      bottom: 0;
      right: 0;

      height: 3.5em;

      background: linear-gradient(to top, @shadow-color, transparent) no-repeat;

    }
  }
  .production__download {
    position: relative;
    & svg {
      position: absolute;

      top: -2px;
      left: 0;

      width: 20px;
      height: 20px;
      stroke: red;
    }
    &:hover svg {
      stroke: blue;
    }
  }
  .production__price {
    margin-top: 10px;
    text-align: right;
  }
  .production__price-content {
    position: relative;
    display: inline;

    background-color: #e7e7f5;

    font-weight: normal;
    line-height: 18px;
    color: black;

    padding: 3px 20px 3px 8px;
    border-radius: 5px;
    & svg {
      position: absolute;

      width: 12px;
      height: 12px;

      right: 8px;
      top: 6px;

      fill: #7d7676;
    }
  }
  .production__manual {
    padding-left: 25px;
    color: blue;
  }
  .production__options {
    padding-top: 10px;

    &-title {
      display: block;
      padding-left: 15px;
      position: relative;
      cursor: pointer;
      color: blue;
    }
  }
  .production__full-item {
    display: flex;
    flex-direction: column;
    border: 1px dotted #b7b7b7;
    border-radius: 5px;
    margin: 10px;
  }
  .production__full-galery {
    text-align: center;
    padding: 10px;
  }
  .production__full-description {
    padding: 10px;
  }
  .production__full-docs-block {
    margin-bottom: 10px;
  }
  .production__full-docs-title {
    margin: 0;
    padding: 15px 0;

    text-align: center;
    font-size: 13px;

    //color: white;
    color: black;
    //background-color: #27338d;
    background-color: #f5f5f5;
    //border-radius: 0 5px 0 0;
  }
  .production__full-docs-items {
    padding-left: 20px;
    padding-top: 20px;

    font-size: 13px;
  }
  .production__features-items-title {
    color: #27338d;
    font-weight: bold;
  }
  .production__features-items {
    margin-bottom: 20px;
  }
  .production__options-items-title {
    color: #27338d;
    font-weight: bold;
  }
  .production__options-items {
    margin-bottom: 15px;
  }
  .production__full-docs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .production__full-price-block {
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #f5f5f5;

    border-radius: 0 0 5px 5px;
  }
  .production__full-price-title {
    //padding: 15px 0;

    text-align: center;
    font-size: 13px;
    font-weight: bold;

    color: black;

    //background-color: #f5f5f5;
  }
  .production__full-price-content {
    position: relative;
    display: inline-block;

    //background-color: #e7e7f5;

    font-weight: bold;
    line-height: 18px;
    color: #27338d;

    //margin-top: 15px;
    //margin-bottom: 15px;
    padding: 3px 20px 3px 8px;

    //border-radius: 5px;
    & svg {
      position: absolute;

      width: 12px;
      height: 12px;

      right: 8px;
      top: 6px;

      fill: #27338d;
      stroke: red;
    }
  }
  .production__link {
    color: blue;
  }
}  // end mobiles

@media @middle-tablets {
  .production {
    align-items: center;
  }
  .production__item {
    flex-direction: row;
    width: 65%;
  }
}  // end middle-tablets

@media @tablets {
  .production__item {
    flex-direction: row;
    width: 40%;
  }
  .production {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    //align-items: flex-start;
  }

  .production__picture {
    width: 40%;
    align-self: baseline;
  }
  .production__description {
    width: 55%;
  }
  .production__full-item {
    flex-direction: row;
  }
  .production__full-galery {
    width: 25%;
  }
  .production__full-description {
    width: 60%;
  }
  .production__full-docs {
    width: 15%;
  }
  .production__full-docs-block {
    border-radius: 0 5px 0 0;
    overflow: hidden;
  }
  .production__full-price-block {
    border-radius: 0 0 5px 0;
    overflow: hidden;
  }
} // end tablets

@media @desktops {
  .production__item {
    width: 30%;
  }
} // end desktop
