@media @mobiles {
  .production {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .production__item {
    display: flex;
    flex-direction: column;

  	padding: 10px;
  	margin: 0 10px 10px;

  	box-shadow: 0 0 8px #e6e6e6;
    border: 1px solid #e6e6e6;

    box-sizing: border-box;
    border-radius: 10px;

    &:hover {
      box-shadow: 0 0 8px black;
    }
  }

  .production__picture {
    margin: 10px;

    text-align: center;

    & img {
      max-width: 100%;
      height: auto;
    }
  }

  .production__description {
    width: 100%;

  	font-size: 0.8em;
  }

  .production__title {
    text-align: center;    
    color: #27338d;
    
    &:hover a {      
      background: linear-gradient(currentColor, currentColor) no-repeat;
      background-size: 100% 1px;
      background-position: 0 1.15em;      
      text-shadow: .12em 0 white, -.12em 0 white;
    }    
  }

  .production__features {
    position: relative;

    font-style: italic;
    margin-bottom: 1em;

    .main__promo &::after {
      position: absolute;
      content: '';

      left: 0;
      bottom: 0;
      right: 0;

      height: 3.5em;

      background: linear-gradient(to top, @shadow-color, transparent) no-repeat;

    }
  }

  .production__download {
    position: relative;
    & svg {
      position: absolute;

      top: -2px;
      left: 0;

      width: 20px;
      height: 20px;
      stroke: red;
    }
    &:hover svg {
      stroke: blue;
    }
  }
  .production__price {
    margin-top: 10px;
    text-align: right;
  }

  .production__price-content {
    position: relative;
    display: inline;

    background-color: #e7e7f5;

    font-weight: normal;
    line-height: 18px;
    color: black;

    padding: 3px 20px 3px 8px;
    border-radius: 5px;
    & svg {
      position: absolute;

      width: 12px;
      height: 12px;

      right: 8px;
      top: 6px;

      fill: #7d7676;
    }
  }

  .production__manual {
    padding-left: 25px;
    color: blue;
  }

  .production__sertificate {
    color: #00f;
  }
  .production__price {

  }

  .production__options {
    padding-top: 10px;

    &-title {
      display: block;
      padding-left: 15px;
      position: relative;
      cursor: pointer;
      color: blue;
    }

    @keyframes open-before {
      from {
        transform: rotate(45deg);
      }
      to {
        transform: rotate(90deg);
      }
    }
    @keyframes open-after {
      from {
        transform: rotate(-45deg);
      }
      to {
        transform: rotate(0deg);
      }
    }
    &-title::after,
    &-title::before {
      content: '';
      position: absolute;
      width: 11px;
      height: 3px;
      background-color: green;
      top: 45%;
      left: 0;
    }
    &-title::before {
      //transform: rotate(90deg);
      animation: open-before 0.3s forwards;
    }
    &-title::after {
      //transform: rotate(90deg);
      animation: open-after 0.3s forwards;
    }


    &-title.close::before,
    &-title.close::after {
      background-color: red;
    }
    @keyframes close-before {
      from {
        transform: rotate(90deg); // was 90
      }
      to {
        transform: rotate(45deg);
      }
    }
    @keyframes close-after {
      from {
        transform: rotate(0deg); // was 0
      }
      to {
        transform: rotate(-45deg);
      }
    }
    &-title.close::before {
      //transform: rotate(45deg);
      animation: close-before 0.3s forwards;
    }
    &-title.close::after {
      //transform: rotate(-45deg);
      animation: close-after 0.3s forwards;
    }
  }

}

@media @middle-tablets {
  .production {
    align-items: center;
  }
  .production__item {
    flex-direction: row;
    width: 65%;
  }
  .production__link {
    color: blue;
  }
}

@media @tablets {
  .production__item {
    flex-direction: row;
    width: 40%;
  }
  .production {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    //align-items: flex-start;
  }

  .production__picture {
    width: 40%;
    align-self: baseline;
  }

  .production__description {
    width: 55%;
  }
}

@media @desktops {
  .production__item {
    width: 30%;
  }
}
