@mobiles: ~"(min-width: 320px)";
@middle-tablets: ~"(min-width: 480px)";
@tablets: ~"(min-width: 800px)";
@desktops: ~"(min-width: 1200px)";

@pages-bg-color: #fff;
@social-item-size: 27px;   // размер социальных кнопок
/* promo блок*/
@bg-color: #e6e6e6;            // цвет фона промо блока
@shadow-color: @bg-color;      // цвет тени в промоблоке для текста

/* header block */
@header-bg-color: #e6e6e6;
@header-triangle-color: #b7b7b7; // цвет активного пункта меню
@max-width: 1280px;

/* Блок с разработками*/
@slideRatio: 75%;       // процент высоты блока слайдера от ширины слайдера
@titleColor: #27338d;
@transitionTime: 0.3s;

/* Кнопки */
@btnBgColor: @titleColor;